{{ form_start(form) }}
    <div class="input-field">
        {{ form_widget(form.terms) }}
        <label class="label-icon" for="{{ form.terms.vars.id }}"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>
{{ form_end(form) }}