.justify {
    text-align: justify;
    text-justify: inter-word;
}

.login-container {
    margin: 100px;
    padding: 29px !important;
}

.message .success {
    padding: 20px;
    background-color: #00af66;
}

.message .error {
    padding: 20px;
    background-color: #F44336;
}

.error-list li {
    font-size: 11px;
    color: #F44336;
}