{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        {{ block_render('listing_featured') }}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        {{ block_render('fab') }}
    {% endif %}
{% endblock %}
