{% extends 'layout.html.twig' %}

{% block content %}
    <form action="{{ path('app_login') }}" method="post">
        <div>
            <input type="text" id="_username" name="_username">
            <label for="_username">Usuário</label>
        </div>
        <div>
            <input type="password" id="_password" name="_password">
            <label for="_username">Usuário</label>
        </div>

        <button type="submit">Enviar</button>
    </form>
{% endblock %}
